*, html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "moonFlower";
  src: url("../fonts/moon.ttf") format("truetype");
}

@font-face {
  font-family: "moonBold";
  src: url("../fonts/moonBold.ttf") format("truetype");
}

body {
  font-family: moonFlower;
  background-image: url("../img/dust_scratches.png");
  object-fit: cover;
  background-repeat: none;
}
.main {
  text-align: center;
}

.navbar {
  background-color: rgba(255, 240, 237, 0.5);
  margin: 0;
  height: 170px;
  width: 100%;
  text-align: center;
  padding: 20px;
  z-index: 25;
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
}


h1 {
  float: left;
  font-size: 5.5em;
  margin: 0 20px;
  color: rgb(201, 122, 106);
  font-weight: 700;
}

li {
  list-style: none;
  display: inline;
  float: right;
  margin: 10px;
  font-size: 2em;
}

a {
  color: rgb(201, 122, 106);
  text-decoration: none;
}

a:hover {
  color: rgba(99, 58, 50, 0.9);
}

.centerpiece {
  position: relative;
  display: inline-block;
}

#centerpiece {
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px #888888;
  width: 600px;
  height: 400px;

}

.caption p {
  color: rgb(99, 58, 50);
  background-color: rgba(136, 136, 136, 0.6);
  box-shadow: 10px 10px 22px 5px #4e4a47;
  border-radius: 15px;
  position: absolute;
  left: 40px;
  top: 250px;
  height: 85px;
  width: 300px;
  margin: 5px auto;
  font-family: moonBold;
  font-weight: 600;
  font-size: 2.25em;
}

.img-heart1 {
  position: absolute;
  top: 110px;
  left: 410px;
  opacity: 0.9;
}

.img-heart2 {
  position: absolute;
  top: 80px;
  left: 440px;
  opacity: 0.9;
}

.img-heart3 {
  position: absolute;
  top: 60px;
  left: 390px;
  opacity: 0.9;
}

.bottom-content {
  margin-top: 60px;
  margin-bottom: 60px;
  overflow: auto;
}

.description-text {
  float: left;
  width: 45%;
  height: auto;
  margin-left: 20px;
  color: rgb(99, 58, 50);
  font-size: 1.5em;
  text-align: justify;
}

.gallery {
  width: 48%;
  float: right;
  margin-top: 50px;
  padding: 3px;
  border-radius: 20px;
  position: relative;
}

.gallery img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 2px;
  opacity: 0.8;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 5px #888888;
}

.gallery img:nth-child(4n+1) {
  clear: both;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #888888;
  border-radius: 10px;
}

.herbal-container, .mint-container, .puer-container, .rose-container {
  float: left;
  position: relative;
  width: 125px;
  height: 125px;
}

.herbal-container:hover .overlay, .mint-container:hover .overlay, .puer-container:hover .overlay, .rose-container:hover .overlay   {
  opacity: 0.75;
}

.text {
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  overflow: auto;
}

#blends {
  text-align: left;
  font-size: 2em;
  margin-bottom: 0;
}

#mailing {
  text-align: left;
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 20px;
}

h3::before {
    content: "";
    display: inline-block;
    background: url("../img/heart.png") no-repeat;
    width: 30px;
    height: 30px;
    transform: translate(0, 25%);
    margin-right: 10px;
}

.form label, input {
  float: left;
  display: inline-block;
  font-size: 1.2em;
  color: rgb(99, 58, 50);
  border-radius: 5px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
}

.form label:nth-child(1n+1) {
  clear: both;
}

.form input:nth-child(1n+1) {
  clear: both;
}

.button {
  overflow: auto;
}

.corner-img img {
  float: right;
  opacity: 0.6;
  margin-top: 90px;
  margin-right: 125px;
}


button {
  float: left;
  margin-top: 20px;
  font-size: 1.2em;
  color: rgb(99, 58, 50);
  border-radius: 5px;
}

.icon-div {
  float: left;
  font-size: 1.75em;
  margin-top: 20px;
  color: rgba(99, 58, 50, 0.85);
}
