*, html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "moonFlower";
  src: url("../fonts/moon.ttf") format("truetype");
}

@font-face {
  font-family: "moonBold";
  src: url("../fonts/moonBold.ttf") format("truetype");
}

body {
  font-family: moonFlower;
  background-image: url("../img/dust_scratches.png");
  object-fit: cover;
  background-repeat: none;
}
.main {
  text-align: center;
}

.navbar {
  background-color: rgba(255, 240, 237, 0.4);
  margin: 0;
  height: 15%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.navbar:after {
  content: "";
  display: table;
  clear: both;
}


h1 {
  float: left;
  font-size: 4.5em;
  margin: 0 20px;
  color: rgb(201, 122, 106);
  font-weight: 700;
}

li {
  list-style: none;
  display: inline;
  float: right;
  margin: 10px;
  font-size: 2em;
}

a {
  color: rgb(201, 122, 106);
  text-decoration: none;
}

.centerpiece {
  position: relative;
  display: inline-block;
}

#centerpiece {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 5px #888888;
  width: 600px;
  height: 400px;
}

.text-box {
  width: 15%;
  height: auto;
}

.text-box p {
  color: rgb(99, 58, 50);
  background-color: rgba(136, 136, 136, 0.6);
  box-shadow: 10px 10px 22px 5px #4e4a47;
  border-radius: 15px;
  position: absolute;
  left: 50px;
  top: 250px;
  height: 75px;
  width: 290px;
  margin: 0 auto;
  padding: 0;
  font-family: moonBold;
  font-weight: 600;
  font-size: 2.25em;
}

.description-text {
  float: left;
  display: iblock;
  width: 40%;
  height: auto;
}

.gallery {
  width: 45%;
  float: right;
  margin: 15px;
}

.gallery img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin: 2px;
  opacity: 0.9;
  border-radius: 10px;
}

.gallery img:nth-child(4n+1) {
  clear: both;
}
